.accordeons {
    display: flex;
    flex-wrap: wrap;
}

.accordeon {
    margin-right: 10px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;

}

.accordeon-title {
    display: flex;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background: #FF6060;
    border-radius: 10px;
    justify-content: center;
    color: white;
    justify-content: space-between;
}

.accordeon-title:hover,
.active .accordeon-title {
    cursor: pointer;

}

.accordeon-content {


    display: none;
    overflow: hidden;
    padding: 0;
    background: #F7F7F7;
    border-radius: 10px;

}

p {
    text-align: justify;
    padding: 20px;
}

.arrow {
    transform: rotate(180deg);
    transition: all .2s ease;
}

.accordeon.active .arrow {
    transform: rotate(0);
}

.accordeon.active .accordeon-content {
    display: block;
}

li {
    list-style: none;
}

@media screen and (min-width: 768px){
    .accordeon {
        width: 45%;

    }

    .accordeons {
        flex-wrap: nowrap;
    }
}