.accordeons{
    display: flex;
    justify-content: space-around;
}
.accordeon{
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    
}
.accordeon-title{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background: #FF6060;
    border-radius: 10px;
    justify-content: center;
    color: white;

}
.accordeon-title:hover,
.active .accordeon-title{
    cursor: pointer;
    
}

.accordeon-content{
    

    display: none;
    overflow: hidden;
    padding: 0 ;
    background: #F7F7F7;
    border-radius: 10px;
   
}
p{
    text-align: justify;
    padding: 20px;
}

.fa-chevron-up{
    transform: rotate(180deg);
    transition: all .2s ease;
}

.accordeon.active .fa-chevron-up {
    transform: rotate(0);
}

.accordeon.active .accordeon-content {
    display: block;
}
li{
    list-style: none;
}