.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    margin-bottom: 24px;
}

.image-container::after {
    content: '';
    border-radius: 25px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
 }

.titre {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: white;
}
.contente{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*@media screen and (min-width: 320px) and (max-width: 425px){
    .titre{
    width: 80%;
    }
}
@media screen and (min-width: 1140px){
    .image{
        width:80%
    }
   
}
@media screen and (min-width: 724px){
    .image{
        width:80%
    }
    .image-container {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .image-container::after {
        content: '';
        border-radius: 25px;
        position: absolute;
        left: 10%;
        width: 80%;
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    
}*/