
.logo {
    height: 80px;
    
}

.nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav div {
    display: flex;
    align-items: center;
}


.accueil {
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    line-height: 142.6%;
    
    text-decoration: none;
    color: #FF6060;


}

.propo {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 142.6%;
    color: #FF6060;
    text-decoration: none;
    padding: 20px;

}

.accueil:hover {
    text-decoration-line: underline;
    color: #FF6060;


}

.propo:hover {
    text-decoration-line: underline;
    color: #FF6060;


}