.slider {
    position: relative;
}


.slider-container {
    height: 415px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.slider-container ul {
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
   
    transition: transform .10s linear;
}

.slider-container li {
    width: 100%;
    flex-shrink: 0;
   
}

.slider-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}
button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /* font-weight: 700; */
    padding: 20px;

    color: rgb(252, 17, 17);
    /* display: flex; */
    /* padding: 10px; */
    text-decoration: none;
    border: 0;
    background-color: transparent;
    /* width: 25px; */
    color: white;
}

.btn-next .fa-chevron-up {
    transform: rotate(90deg);
}

.btn-prev .fa-chevron-up {
    transform: rotate(-90deg);
}

.btn-next {
    left: 95%
}

.btn-prev {
    left: 5%;
}

.slider button i {
    font-size: 80px;
}
