.slider {
    position: relative;
}


.slider-container {
    height: 415px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.slider-container .slides {
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
   
    transition: transform .10s linear;
}

.slider-container .slide {
    width: 100%;
    flex-shrink: 0;
   
}

.slider-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}
.btn-next, .btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    color: rgb(252, 17, 17);
    text-decoration: none;
    border: 0;
    background-color: transparent;
    color: white;
}

.btn-next {
    right: 0;
}

.btn-prev {
    left: 0;
}

.slider button i {
    font-size: 80px;
}



.slide-index {
    position: absolute;
    color: white;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}