.star {
    display: flex;
    color: #FF6060;
    align-items: flex-end;
}

.fa-star {
    font-size: 30px;
}

.fa-regular, .far {
    font-weight: bold;
    /* font-weight: 400; */
    color: #E3E3E3;
}