.tags {
    list-style: none;
    display: flex;
    padding: 0;
}

.tag {
    padding: 4px 16px;
    background: #FF6060;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 6px;

}


@media screen and (min-width: 360px) and (max-width: 425px){
    .tags {
     padding: 10px;
    }
}