.Apropo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }@media screen and (min-width: 360px) and (max-width: 425px){
        .Apropo {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;  
    }
    .nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }  
}  
    @media screen and (min-width: 768px){
        .background{
            width: 50%
        }
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .accordeon{
            margin: 10px;
    }
}
    
    @media screen and (min-width: 1140px){
        .background{
            width:80%
        }
    }