
.file{
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    line-height: 411px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF6060;
    
}

.no-file{
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    color: #FF6060;
}
.return{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #FF6060;
}