
.content {
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    background: #000000;
}

.logo-footer {
    padding: 20px;
    display: flex;
}

.droit-reserve {
    display: flex;
}


@media screen and (min-width: 320px)  and (max-width: 425px) {

    .droit-reserve {
        width: 85%;
    }

    .content {
        display: flex;

        align-items: center;
        justify-content: center;
    }
}