
.content{
    flex-grow: 1;
}

.footer{
    
    height: 209px;
    flex-shrink: 0;
    width: 100%;  
    
    background: #000000;
}
.logo-footer{
    position: relative;
    left: 40%;
    top: 10%;
    padding: 20px;
    display: flex;
}
.droit-reserve{
    position: relative;
    top: 20%;
    left: 40%;
    display: flex;
}