.style {
    position:relative;
    top: 20%;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
    Width: 1237px;
    Height: 1004px;
    padding:  30px;
    border-radius: 25px;
    background: #F7F7F7;
    
   
    
}
