

.appartment {
    width: 100%;
    height: 340px;
    display: block;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
}

.logement{
    padding: 24px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   

}

.logement-info {
    display: flex;
}

@media screen and (min-width: 724px) and (max-width:1024px){
    .appartment {
        width: 50%
    }
    
    
}

@media screen and (min-width: 1140px){
    .appartment {
        width: 33%
    }
    
    
    
}