.block{
    display: flex;
    flex-direction: column;
}
.logement-info {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (min-width: 360px) and (max-width: 425px){
    .logement-info{
     padding: 10px 10px;
    }
}