.block {
    display: flex;
    flex-direction: column;
}

.logement-infos {
    padding: 30px 0;
}

.logement-infos > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logement-title {
    width: 50%;
}

.logement-infos .star {
    order: -1;
}

@media screen and (min-width: 768px) {
    .logement-infos .star {
        order: 1;
    }
}